@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  
}

/* css usuarios */


.header {
  border-radius: 15px;
  margin-top: 12%;
  margin: 0% auto;
  height: 80vh;
  width: 80vh;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);


  color: rgb(15, 5, 5);
  clip-path: ellipse(100vw 60vh at 50% 50%);
  display: flex;
  align-items: center;
  justify-content: center;


}

.details {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  
}

.details img {
  margin-bottom: 12%;
}

.profile-pic {
  height: 8rem;
  width: 8rem;
  object-fit: center;
  border-radius: 50%;
  border: 2px solid rgb(14, 9, 9);
}


.heading {
  font-weight: 200;
  font-size: 1.3rem;
  margin: 1rem 0;
  margin-bottom: 5%;
}

/* css usuarios final */


/* sigin */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
