@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  
}

/* css usuarios */


.header {
  border-radius: 15px;
  margin-top: 12%;
  margin: 0% auto;
  height: 80vh;
  width: 80vh;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);


  color: rgb(15, 5, 5);
  clip-path: ellipse(100vw 60vh at 50% 50%);
  display: flex;
  align-items: center;
  justify-content: center;


}

.details {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  
}

.details img {
  margin-bottom: 12%;
}

.profile-pic {
  height: 8rem;
  width: 8rem;
  object-fit: center;
  border-radius: 50%;
  border: 2px solid rgb(14, 9, 9);
}


.heading {
  font-weight: 200;
  font-size: 1.3rem;
  margin: 1rem 0;
  margin-bottom: 5%;
}

/* css usuarios final */


/* sigin */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


 /* Portada */

.portada {
  background: url(/static/img/123.png) no-repeat center;
  background-size: cover;
}

.texto-central {
  font-family: 'Roboto Slab', serif;
}
.desc {
  color: black;
}

/* Articulos */

.lista {
  font-family: 'Nunito', sans-serif;
}

.btn-dark {
  background: #fb8500;
  color: #023047;
  border-color: #fb8500;
}

.btn-dark:hover {
  color: #023047;
  background: #e76f51;
  border-color: #fb8500;
}



/* alerta */

.alerta {
  margin-top: 4%;
  margin-bottom: -1%;
}




/* footer */

footer {
  margin-top: 13%;
  padding-top: 7%;
  margin-left: -10.4%;
  margin-right: -10.4%;
}



/* Estilos Articulos */

.article-clean {
  color:#56585b;
  background-color:#fff;
  font-family:'Lora', serif;
  font-size:14px;
}

.article-clean .intro {
  font-size:16px;
  margin:0 auto 30px;
}

.article-clean .intro h1 {
  font-size:39px;
  margin-bottom:15px;
  padding-top:66px;
  line-height:1.5;
  color:inherit;
  margin-top:20px;
}

.article-clean .intro p {
  color:#929292;
  font-size:12px;
}

.article-clean .intro p .by {
  font-style:italic;
  font-size: 18px;
}

.article-clean .intro p .date {
  font-style:italic;
  font-size: 18px;
  padding:4px 0 4px 10px;
  margin-left:10px;
  border-left:1px solid #ddd;
}

.article-clean .intro p a {
  color:#333;
  padding-left:3px;
}

.article-clean .intro img {
  margin-top:20px;
}

.article-clean .text p {
  margin-bottom:20px;
  line-height:1.45;
}

@media (min-width:768px) {
  .article-clean .text p {
    font-size:16px;
  }
}

.article-clean .text h2 {
  margin-top:28px;
  margin-bottom:20px;
  line-height:1.45;
  font-size:16px;
  font-weight:bold;
  color:#333;
}

@media (min-width:768px) {
  .article-clean .text h2 {
    font-size:20px;
  }
}

.article-clean .text figure {
  text-align:center;
  margin-top:30px;
  margin-bottom:20px;
}

.article-clean .text figure img {
  margin-bottom:12px;
  max-width:100%;
}


/* aa */

