{% extends 'base.html' %}

{% block content %}

<!-- Portada -->
<div class="portada position-relative overflow-hidden p-3 p-md-5  text-center text-black">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal texto-central">Texto Central</h1>
      <p class="lead fw-normal desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      <a class="btn btn-success text-withe btn-lg" href="#">Registrarse</a>
    </div>
  </div>


<!-- termina Portada -->

<!-- Seccion Articulos -->

<div class="container mt-5">

  <h1 class="my-4 text-center lista">Lista de Articulos
    <small></small>
  </h1>

  <div class="row">
    {% for post in object_list %}
    <div class="col-lg-6 mb-4">
      {% if post.image %}
      <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}"
      style=" width: 546px; height: 293px;">
      {% endif %}
      <div class="card-body border">
        <a href="{% url 'nucleo:post' post.id post.slug %}" class="text-decoration-none">
          <h2 class="card-title my-3 text-center texto-central">{{ post.title }} </h2>
        </a>
        <div class="mb-1 text-center">
          <div>
            <span class="fw-bold">Creado: </span>{{ post.created_on|date:"N j Y" }} |
            
            <span class="fw-bold">Autor: </span>{{ post.author }}
          </div>
          <div>
            {% for tag in post.tags.all %}
            <span class="badge badge-dark">{{ tag }}</span>
            {% endfor %}
          </div>
        </div>
        <p class="card-text">{{ post.content|safe|truncatewords:30|striptags }}</p>

        <a href="{% url 'nucleo:post' post.id post.slug %}">
          <button class="btn btn-dark fw-bold" type="button">Leer Articulo</button>
        </a>

      </div>
    </div>
    {% endfor %}
    </div>
   
  <!-- Termina seccion Articulos -->

  <!-- Paginacion -->
  <div class="row">
    <nav class="col-lg-6 offset-lg-3 mt-4 d-flex justify-content-center">
      <ul class="pagination">

        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#"">Anterior</a>
        </li>
        {% endif %}
  
        {% for i in page_obj.paginator.page_range %}
        <li class=" page-item {% if page_obj.number == i %}active{% endif %}">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Siguiente</a>
        </li>
        {% endif %}

      </ul>
    </nav>
  </div>
  <!-- /Paginacion -->

  <!-- footer -->
  <section class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #0a4275;">
      <!-- Grid container -->
      <div class=" p-4 pb-0">
        <!-- Section: CTA -->
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">Registrate gratis</span>
            <button type="button" class="btn btn-outline-light btn-rounded">
              Registrarme!
            </button>
          </p>
        </section>
        <!-- Section: CTA -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">Mibog.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>
  <!-- termina footer -->

</div>
{% endblock %}